@function em($pixels, $context: 16) {
  @return #{$pixels/$context}em
}
@function rem($pixels, $context: 16) {
  @return #{$pixels/$context}rem
}
@mixin clearfix() {
    &:before,
    &:after {
        content: "";
        display: table;
    }
    &:after {
        clear: both;
    }
}
@mixin border-radius($radius){
  -webkit-border-radius:  $radius;
  -moz-border-radius:       $radius;
  -ms-border-radius:    $radius;
  border-radius:      $radius;  
}
@mixin box-shadow($box-shadow){
  -webkit-box-shadow:   $box-shadow;
  -moz-box-shadow:       $box-shadow;
  -ms-box-shadow:     $box-shadow;
  box-shadow:       $box-shadow;  
}
@mixin box-sizing($box-sizing){
  -webkit-box-sizing:   $box-sizing;
  -moz-box-sizing:       $box-sizing;
  -ms-box-sizing:     $box-sizing;
  box-sizing:       $box-sizing;  
}
@mixin transform($transform){
  -webkit-transform:   $transform;
  -moz-transform:       $transform;
  -ms-transform:     $transform;
  -o-transform:     $transform;
  transform:       $transform;  
}
@mixin filter($filter){
  -webkit-backdrop-filter: $filter;
  -webkit-filter:   $filter;
  -moz-filter:       $filter;
  -ms-filter:     $filter;
  -o-filter:     $filter;
  filter:       $filter;  
}
@mixin backface-visibility($value){
  -webkit-backface-visibility: $value;
  -webkit-backface-visibility:   $value;
  -moz-backface-visibility:       $value;
  -ms-backface-visibility:     $value;
  -o-backface-visibility:     $value;
  backface-visibility:       $value;  
}
@mixin animation-name($name){
  -webkit-animation-name:   $name;
  -moz-animation-name:       $name;
  -ms-animation-name:     $name;
  -o-animation-name:     $name;
  animation-name:       $name;   
}
@mixin transition($transition...){
  -webkit-transition:   $transition;
  -moz-transition:       $transition;
  -ms-transition:     $transition;
  -o-transition:     $transition;
  transition:       $transition; 
}
@mixin transition-prefixed($name, $extra){
  -webkit-transition:   -webkit-#{$name} $extra;
  -moz-transition:       -moz-#{$name} $extra;
  -ms-transition:     -ms-#{$name} $extra;
  -o-transition:     -o-#{$name} $extra;
  transition:       $name $extra;   
}
@mixin appearance($value){
  -webkit-appearance:   $value;
  -moz-appearance:       $value;
  -ms-appearance:     $value;
  -o-appearance:     $value;
  appearance:       $value;   
}
@mixin perspective($value){
  -webkit-perspective:   #{$value}px;
  -moz-perspective:       #{$value}px;
  -moz-transform: perspective($value);
  -ms-perspective:     $value;
  -o-perspective:     #{$value}px;
  perspective:       #{$value}px;   
}
@mixin transform-origin($value){
  -webkit-transform-origin:   $value;
  -moz-transform-origin:       $value;
  -ms-transform-origin:     $value;
  -o-transform-origin:     $value;
  transform-origin:       $value;   
}
@mixin transform-style($value){
  -webkit-transform-style:   $value;
  -moz-transform-style:       $value;
  -ms-transform-style:     $value;
  -o-transform-style:     $value;
  transform-style:       $value;   
}
@mixin animation($animation){
  -webkit-animation:   #{$animation};
  -moz-animation:       #{$animation};
  -ms-animation:     #{$animation};
  -o-animation:     #{$animation};
  animation:       #{$animation};   
}
@mixin animation-duration($duration){
  -webkit-animation-duration:   $duration;
  -moz-animation-duration:       $duration;
  -ms-animation-duration:     $duration;
  -o-animation-duration:     $duration;
  animation-duration:       $duration;   
}
@mixin animation-iteration-count($iteration-count){
  -webkit-animation-iteration-count:   $iteration-count;
  -moz-animation-iteration-count:       $iteration-count;
  -ms-animation-iteration-count:     $iteration-count;
  -o-animation-iteration-count:     $iteration-count;
  animation-iteration-count:       $iteration-count;   
}
@mixin animation-timing-function($timing-function){
  -webkit-animation-timing-function:   $timing-function;
  -moz-animation-timing-function:       $timing-function;
  -ms-animation-timing-function:     $timing-function;
  -o-animation-timing-function:     $timing-function;
  animation-timing-function:       $timing-function;   
}
@mixin animation-fill-mode($fill-mode){
  -webkit-animation-fill-mode:   $fill-mode;
  -moz-animation-fill-mode:       $fill-mode;
  -ms-animation-fill-mode:     $fill-mode;
  -o-animation-fill-mode:     $fill-mode;
  animation-fill-mode:       $fill-mode;   
}
@mixin animation-play-state($state){
  -webkit-animation-play-state: $state;
  -moz-animation-play-state: $state;
  -o-animation-play-state: $state;
  animation-play-state: $state;
}
@mixin keyframes($name) {
  @-moz-keyframes #{$name} {
    @content;
  }
  @-ms-keyframes #{$name} {
    @content;
  }
  @keyframes #{$name} {
    @content;
  } 
}